# Environment files (contain secrets)
.env
.env.local
.env.production

# Python cache
__pycache__/
*.pyc
*.pyo

.fastf1_cache/
.sqlite
data/processed/*
!data/processed/all_races_combined_2025.csv
!data/processed/all_races_combined_2024.csv
!data/processed/all_races_combined_2023.csv
!data/processed/all_races_combined_2022.csv
!data/processed/all_races_combined_2021.csv
!data/processed/all_races_combined_2020.csv
!data/processed/all_races_combined_2019.csv
!data/processed/all_races_combined_2018.csv
.venv/
env/
venv/

# Mac system files
.DS_Store
**/.DS_Store

# Log files
*.log

# Duplicate data folders
notebooks/data/